Package: com.sassoty.nounwantedlsstuff
Name: NoUnwantedLSStuff
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove stu text, chevron, & tap bounce
Maintainer: Noah Saso <noahsaso@gmail.com>
Author: Noah Saso <noahsaso@gmail.com>
Section: Tweaks
Depiction: http://beta-repo.sassoty.com/deps.php?pkg=com.sassoty.nounwantedlsstuff
